@import url(https://fonts.googleapis.com/css?family=Open+Sans:regular,600,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Poppins:500,600&display=swap);
@import url(https://fonts.googleapis.com/css?family=Raleway:500&display=swap);
@font-face {
  font-family: "BasicSansSFBold";
  src: url("fonts/basicsanssfbold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  background-color: var(--background-color);
  color: var(--primary-color);
}

[class*=__container] {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: 768px) {
  [class*=__container] {
    max-width: none;
    padding: 0px 15px;
  }
}
.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@media (max-width: 850px) {
  .dots {
    width: 107px;
    height: 77px;
  }
  .img-main-850px,
.img-addit-850px {
    max-width: 400px;
    height: auto;
  }
}
@media (max-width: 490px) {
  .img-main-850px,
.img-addit-850px {
    max-width: 300px;
    height: auto;
  }
}
:root {
  --background-color: #ffffff;
  --primary-color: #646464;
  --secondary-color: #212121;
  --green-button-bg: #37806b;
  --green-button-bg-hover: #23614f;
  --beige-button-bg: #caa892;
  --beige-button-bg-hover: #c39577;
  --quotation-marks-color: #b0855b;
  --input-bg: #eeeeee;
  --section-bg: #f8f8f8;
  --title-total-black: #111111;
}

.header {
  padding-bottom: 57px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 34px;
  padding-bottom: 34px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 64px;
     -moz-column-gap: 64px;
          column-gap: 64px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}

.header .menu__link {
  color: var(--secondary-color);
  font-weight: 600;
  font-size: 16px;
  line-height: 137%;
  text-transform: uppercase;
  position: relative;
}

.header .menu__link::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  width: 5px;
  height: 0;
  background-color: var(--secondary-color);
  display: block;
  display: none;
  border-radius: 50%;
}

.header .menu__link:hover::after {
  height: 5px;
  display: block;
}

.header .menu__list .menu__item:nth-child(1) .menu__link {
  color: var(--primary-color);
}

.header__button {
  font-weight: 600;
  font-size: 16px;
  line-height: 137%;
  color: var(--background-color);
  padding: 5px 19px;
  background-color: var(--beige-button-bg);
  border-radius: 15px 0px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__button:hover {
  background-color: #c39577;
}

.burger-menu {
  display: none;
}

@media (max-width: 1024px) {
  .menu__list {
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
  }
}
@media (max-width: 950px) {
  .menu__list {
    display: none;
  }
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 64px;
       -moz-column-gap: 64px;
            column-gap: 64px;
  }
  .header__container {
    padding: 0 70px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .burger-menu {
    display: block;
  }
  .burger-header-menu {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 20px;
    display: none;
    z-index: 99;
  }
  .burger-menu__button {
    position: absolute;
    top: 45px;
    right: 48.5%;
    z-index: 99;
    width: 20px;
    height: 20px;
  }
  .burger-header-menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 40px;
    z-index: 99;
  }
  .burger-menu .menu__link {
    color: var(--secondary-color);
    font-weight: 600;
    font-size: 20px;
    line-height: 137%;
    text-transform: uppercase;
    position: relative;
  }
  .burger-menu .menu__link::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -5px;
    width: 5px;
    height: 0;
    background-color: var(--secondary-color);
    border-radius: 50%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .burger-menu .menu__link:hover::after {
    height: 5px;
    display: block;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .burger-header-menu__list .menu__item:nth-child(1) .menu__link {
    color: var(--primary-color);
  }
  .burger-menu_active .burger-menu__nav {
    top: 95px;
    left: 40%;
  }
  .menu__link-button {
    padding: 10px 22px 10px 20px;
  }
  .menu__link {
    font-size: 15px;
  }
  .burger-menu__lines,
.burger-menu__lines::before,
.burger-menu__lines::after {
    position: absolute;
    width: 22px;
    height: 2px;
    background-color: var(--secondary-color);
  }
  .burger-menu__lines::before {
    content: "";
    top: -7px;
  }
  .burger-menu__lines::after {
    content: "";
    top: 7px;
  }
  .burger-menu_active .burger-menu__lines {
    background-color: transparent;
  }
  .burger-menu_active .burger-menu__lines::before {
    top: 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .burger-menu_active .burger-menu__lines::after {
    top: 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .burger-menu__overlay {
    display: none;
    position: fixed;
    top: 95px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
  }
  .burger-menu_active .burger-menu__overlay {
    display: block;
    background-color: var(--background-color);
  }
}
@media (max-width: 850px) {
  .header {
    padding-bottom: 30px;
  }
}
@media (max-width: 600px) {
  .header__container {
    padding: 15px;
  }
  .burger-menu__button {
    top: 35px;
  }
  .logo {
    width: 120px;
    height: auto;
  }
  .header__button {
    font-size: 14px;
  }
}
.page__main {
  padding-bottom: 49.45px;
  position: relative;
}

.main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 46px;
     -moz-column-gap: 46px;
          column-gap: 46px;
  padding: 0 40px;
  padding-bottom: 143px;
}

.main__left-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 20px;
}

.main__left-part-above-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 135%;
  padding-bottom: 12px;
  text-transform: uppercase;
}

.main__left-part-title {
  font-family: "Poppins", sans-serif;
  font-size: 72px;
  line-height: 108%;
  padding-bottom: 23px;
  color: var(--secondary-color);
}

.main__left-part-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 167%;
  padding-bottom: 46px;
  max-width: 603px;
}

.main__left-part-button {
  padding: 12px 24px;
  max-width: 142.15px;
  font-size: 18px;
  line-height: 111%;
  border-radius: 20px 0px;
  color: var(--background-color);
  background-color: var(--green-button-bg);
  text-transform: uppercase;
  font-weight: 700;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.main__left-part-button:hover {
  background-color: var(--green-button-bg-hover);
}

.main__right-part {
  position: relative;
}

.main__right-part-decorative {
  top: 33px;
  left: 35px;
  position: absolute;
  z-index: -1;
}

.main .main-dots {
  position: absolute;
  bottom: 0;
  left: 0;
}

@media (max-width: 1150px) {
  .main__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 50px;
  }
  .main__left-part {
    text-align: center;
  }
  .main__left-part {
    padding-right: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 850px) {
  .main__container {
    padding-bottom: 70px;
  }
  .main__left-part-above-title {
    font-size: 16px;
  }
  .main__left-part-title {
    font-size: 50px;
  }
  .main__left-part-text {
    font-size: 16px;
    padding-bottom: 30px;
  }
  .main__left-part-button {
    font-size: 16px;
  }
}
@media (max-width: 490px) {
  .main__left-part-above-title {
    font-size: 14px;
  }
  .main__left-part-title {
    font-size: 35px;
  }
  .main__left-part-text {
    font-size: 14px;
  }
  .main__left-part-button {
    font-size: 14px;
  }
  .main__right-part-decorative {
    top: 15px;
    left: 15px;
  }
  .main__left-part-button {
    font-size: 14px;
  }
}
.page__service {
  padding-top: 51px;
  padding-bottom: 170px;
  position: relative;
}

.service__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 50px;
}

.service__above-title {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -0.01em;
  padding-bottom: 15px;
  text-transform: uppercase;
}

.service__title {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 48px;
  line-height: 162%;
  color: var(--secondary-color);
}

.service__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 18px;
     -moz-column-gap: 18px;
          column-gap: 18px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.service-swiper-button-prev,
.service-swiper-button-next {
  position: static;
  padding: 20px;
  -webkit-box-shadow: -1px 3px 10px rgba(0, 0, 0, 0.3);
          box-shadow: -1px 3px 10px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  margin: 0;
}

.service-swiper-button-next {
  background-color: var(--green-button-bg);
}

.service-swiper-button-prev::after,
.service-swiper-button-next::after {
  content: "";
}

.service-swiper .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 37px;
     -moz-column-gap: 37px;
          column-gap: 37px;
  height: 220px;
}

.service-swiper .swiper-slide:nth-child(1) {
  padding-right: 20px;
}

.service-swiper .swiper-slide:nth-child(2) {
  margin-left: 20px;
  padding-right: 30px;
}

.service__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  -webkit-box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.14);
  border-radius: 60px 0px;
  padding: 40px 22px 35px 37px;
  max-height: 195px;
}

.service-swiper-wrapper .service__item:nth-child(2) {
  background-color: var(--beige-button-bg);
  color: var(--background-color);
}

.service-swiper-wrapper .service__item:nth-child(2) .service__item-title {
  color: var(--background-color);
}

.service__item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 65%;
  padding-bottom: 14px;
  color: var(--secondary-color);
}

.service__item-text {
  max-width: 306px;
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: -0.01em;
}

.service-dots {
  position: absolute;
  bottom: 0;
  right: 0;
}

@media (max-width: 1400px) {
  .service__body {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .service-swiper .swiper-slide {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 30px;
    height: 450px;
  }
}
@media (max-width: 936px) {
  .service-swiper .swiper-slide {
    height: 710px;
    row-gap: 20px;
  }
}
@media (max-width: 850px) {
  .page__service {
    padding-top: 30px;
    padding-bottom: 50px;
  }
  .service__above-title {
    font-size: 16px;
    padding-bottom: 0;
  }
  .service__title {
    font-size: 40px;
  }
  .service__body {
    padding-bottom: 40px;
  }
  .service-swiper .swiper-slide {
    height: 680px;
  }
  .service__item {
    max-height: 170px;
  }
  .service__item-title {
    font-size: 20px;
  }
  .service__item-text {
    font-size: 15px;
  }
}
@media (max-width: 490px) {
  .service__above-title {
    font-size: 14px;
  }
  .service__title {
    font-size: 30px;
  }
  .service__body {
    padding-bottom: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    row-gap: 20px;
  }
  .service__pagination {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .service-swiper .swiper-slide {
    height: 550px;
    row-gap: 0;
  }
  .service__item {
    max-height: 160px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 10px;
    padding: 40px 20px 40px 20px;
  }
  .service__item-title {
    font-size: 18px;
  }
  .service__item-text {
    font-size: 13px;
  }
  .service-dots {
    position: absolute;
    bottom: -20px;
    right: 0;
  }
  .service-swiper-button-prev,
.service-swiper-button-next {
    padding: 12px;
    width: 4px;
    height: 11px !important;
  }
}
.page__about {
  padding-top: 32px;
  padding-bottom: 224px;
  position: relative;
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 132px;
     -moz-column-gap: 132px;
          column-gap: 132px;
  padding: 0 40px;
}

.about__left-part {
  position: relative;
}

.about__left-part-decorative {
  position: absolute;
  top: -32px;
  left: -32px;
  z-index: -1;
}

.about__right-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__right-part-above-title {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  padding-bottom: 6px;
  text-transform: uppercase;
}

.about__right-part-title {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 48px;
  line-height: 119%;
  padding-bottom: 22px;
  color: var(--secondary-color);
}

.about__right-part-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 167%;
  padding-bottom: 28px;
}

.about__right-part-text-button {
  padding: 14px 17px;
  max-width: 142.15px;
  font-size: 16px;
  line-height: 111%;
  border-radius: 20px 0px;
  color: var(--background-color);
  background-color: var(--green-button-bg);
  text-transform: uppercase;
  font-weight: 700;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.about__right-part-text-button:hover {
  background-color: var(--green-button-bg-hover);
}

.about-dots {
  position: absolute;
  bottom: 0;
  left: 0;
}

@media (max-width: 1150px) {
  .about__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 82px;
  }
  .about__right-part {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 850px) {
  .page__about {
    padding-bottom: 90px;
  }
  .about__right-part-title {
    font-size: 40px;
  }
  .about__right-part-above-title {
    font-size: 16px;
  }
  .about__right-part-text {
    font-size: 16px;
  }
  .about__right-part-text-button {
    font-size: 14px;
  }
}
@media (max-width: 490px) {
  .page__about {
    padding-bottom: 90px;
  }
  .about__right-part-title {
    font-size: 30px;
  }
  .about__right-part-above-title {
    font-size: 14px;
  }
  .about__right-part-text {
    font-size: 14px;
  }
  .about__right-part-text-button {
    font-size: 12px;
  }
  .about__left-part-decorative {
    top: -15px;
    left: -15px;
  }
}
.page__successful-work {
  padding-bottom: 224px;
  position: relative;
}

.successful-work__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 135px;
     -moz-column-gap: 135px;
          column-gap: 135px;
  padding: 0 80px 0 10px;
}

.successful-work-left-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.successful-work-left-part-above-title {
  font-weight: 700;
  font-size: 288px;
  line-height: 90%;
  letter-spacing: -0.01em;
  color: transparent;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-image: url(img/SUCCESSFUL-WORKING/02-background-20.png);
  background-repeat: repeat;
  -webkit-background-clip: text;
  background-position: 10px 365px;
}

.successful-work-left-part-title {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 50px;
  line-height: 130%;
  letter-spacing: 0.04em;
  color: var(--secondary-color);
  padding-bottom: 17px;
  padding-top: 10px;
}

.successful-work-left-part-button {
  padding: 14px 17px;
  max-width: 142.15px;
  font-size: 16px;
  line-height: 111%;
  border-radius: 20px 0px;
  color: var(--background-color);
  background-color: var(--green-button-bg);
  text-transform: uppercase;
  font-weight: 700;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.successful-work-left-part-button:hover {
  background-color: var(--green-button-bg-hover);
}

.successful-work-right-part {
  position: relative;
}

.successful-work__right-part-decorative {
  position: absolute;
  top: 32px;
  right: -32px;
  z-index: -1;
}

.successful-work-dots {
  position: absolute;
  bottom: -76px;
  right: 0;
  z-index: -1;
}

@media (max-width: 1200px) {
  .successful-work__container {
    padding: 0 40px 0 10px;
    -webkit-column-gap: 46px;
       -moz-column-gap: 46px;
            column-gap: 46px;
    row-gap: 50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 1100px) {
  .successful-work__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .successful-work-left-part {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}
@media (max-width: 850px) {
  .successful-work__container {
    padding: 0 20px 0 10px;
  }
  .page__successful-work {
    padding-bottom: 100px;
  }
  .successful-work-left-part-above-title {
    font-size: 170px;
  }
  .successful-work-left-part-title {
    font-size: 40px;
  }
  .successful-work-left-part-button {
    font-size: 14px;
  }
  .successful-work-dots {
    bottom: -40px;
  }
}
@media (max-width: 490px) {
  .page__successful-work {
    padding-bottom: 100px;
  }
  .successful-work-left-part-above-title {
    font-size: 100px;
  }
  .successful-work-left-part-title {
    font-size: 25px;
  }
  .successful-work-left-part-button {
    font-size: 12px;
  }
  .successful-work-dots {
    bottom: -40px;
  }
  .successful-work__right-part-decorative {
    top: 15px;
    right: -15px;
  }
}
.page__completed-work {
  background-color: var(--section-bg);
  position: relative;
}

.completed-work__body {
  padding: 87px 0 202px 0;
}

.completed-work__body-title-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.completed-work__body-block-title {
  padding: 0 10px;
  padding-bottom: 87px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 48px;
  line-height: 125%;
  text-align: center;
  color: var(--secondary-color);
}

.completed-work__body-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.completed-work__body-items .completed-work__body-item:nth-child(3),
.completed-work__body-items .completed-work__body-item:nth-child(7) {
  position: relative;
  bottom: -91px;
}

.completed-work__body-item {
  padding: 47px 50px;
  -webkit-box-shadow: 0px 13px 16px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 13px 16px rgba(0, 0, 0, 0.1);
  border-radius: 40px 0px;
}

.completed-work__body-item-number {
  font-weight: 700;
  font-size: 50px;
  line-height: 120%;
  text-align: center;
  color: var(--secondary-color);
}

.completed-work__body-item-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 166%;
  text-align: center;
}

.decorative-lines1,
.decorative-lines2,
.decorative-lines3 {
  position: relative;
  bottom: -50px;
}

.completed-work-dots {
  position: absolute;
  bottom: -76px;
  left: 0;
  z-index: 2;
}

@media (max-width: 1500px) {
  .decorative-lines1,
.decorative-lines2,
.decorative-lines3 {
    width: 160px;
    height: 180px;
  }
  .completed-work__body-item {
    padding: 30px 40px;
  }
}
@media (max-width: 1250px) {
  .decorative-lines1,
.decorative-lines2,
.decorative-lines3 {
    width: 100px;
    height: 120px;
    bottom: -30px;
  }
  .completed-work__body-items .completed-work__body-item:nth-child(3),
.completed-work__body-items .completed-work__body-item:nth-child(7) {
    bottom: -55px;
  }
  .completed-work__body-item {
    padding: 20px 30px;
  }
  .completed-work__body-item-number {
    font-size: 40px;
  }
  .completed-work__body-item-text {
    font-size: 16px;
  }
}
@media (max-width: 950px) {
  .decorative-lines1,
.decorative-lines2,
.decorative-lines3 {
    width: 70px;
    height: 90px;
    bottom: -20px;
  }
  .completed-work__body-items .completed-work__body-item:nth-child(3),
.completed-work__body-items .completed-work__body-item:nth-child(7) {
    bottom: -30px;
  }
  .completed-work__body-item {
    padding: 15px 25px;
  }
  .completed-work__body-item-number {
    font-size: 25px;
  }
  .completed-work__body-item-text {
    font-size: 12px;
  }
}
@media (max-width: 850px) {
  .completed-work__body {
    padding: 50px 0 102px 0;
  }
  .completed-work__body-block-title {
    font-size: 40px;
    padding-bottom: 50px;
  }
  .completed-work-dots {
    bottom: -40px;
  }
}
@media (max-width: 680px) {
  .decorative-lines1,
.decorative-lines2,
.decorative-lines3 {
    width: 40px;
    height: 60px;
    bottom: -10px;
  }
  .completed-work__body-items .completed-work__body-item:nth-child(3),
.completed-work__body-items .completed-work__body-item:nth-child(7) {
    bottom: -20px;
  }
  .completed-work__body-item {
    padding: 10px 15px;
  }
  .completed-work__body-item-number {
    font-size: 18px;
  }
  .completed-work__body-item-text {
    font-size: 10px;
  }
}
@media (max-width: 490px) {
  .decorative-lines1,
.decorative-lines2,
.decorative-lines3 {
    width: 20px;
    height: 50px;
    bottom: -10px;
  }
  .completed-work__body {
    padding: 50px 0 80px 0;
  }
  .completed-work__body-block-title {
    font-size: 25px;
    padding-bottom: 50px;
  }
  .completed-work-dots {
    bottom: -40px;
  }
  .completed-work__body-item {
    padding: 10px 15px;
  }
  .completed-work__body-item-number {
    font-size: 186x;
  }
  .completed-work__body-item-text {
    font-size: 8px;
  }
}
.page__testimonials {
  padding-top: 161px;
  padding-bottom: 183px;
}

.testimonials__container {
  position: relative;
}

.testimonials__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.testimonials__body-title {
  padding-bottom: 99px;
}

.testimonials__above-title {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  text-transform: uppercase;
  padding-bottom: 3px;
}

.testimonials__title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 150%;
  color: var(--secondary-color);
}

.testimonials-swiper-wrapper .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 140px;
     -moz-column-gap: 140px;
          column-gap: 140px;
  height: 250px;
  overflow: hidden;
}

.testimonials__pagination {
  position: absolute;
  right: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 18px;
     -moz-column-gap: 18px;
          column-gap: 18px;
}

.testimonials-swiper-button-prev,
.testimonials-swiper-button-next {
  position: static;
  padding: 20px;
  -webkit-box-shadow: -1px 3px 10px rgba(0, 0, 0, 0.3);
          box-shadow: -1px 3px 10px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  margin: 0;
}

.testimonials-swiper-button-next {
  background-color: var(--green-button-bg);
}

.testimonials-swiper-button-prev::after,
.testimonials-swiper-button-next::after {
  content: "";
}

.testimonials__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 7px 7px 30px 5px rgba(66, 96, 84, 0.15);
          box-shadow: 7px 7px 30px 5px rgba(66, 96, 84, 0.15);
  border-radius: 70px 0px;
  padding: 41px 38px 60px 99px;
  height: 218px;
}

.quotation-marks {
  position: absolute;
  font-family: "BasicSansSFBold";
  font-weight: 700;
  font-size: 96px;
  line-height: 114%;
  top: 15px;
  right: 34px;
  color: #b0855b;
}

.testimonials__item-left-part {
  position: absolute;
  left: -60px;
}

.testimonials__item-right-part-body-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  padding-bottom: 8px;
}

.testimonials__item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 138%;
}

.testimonials__item-text-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 137%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding-bottom: 3px;
}

.testimonials__item-text {
  max-width: 434px;
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
}

@media (max-width: 1500px) {
  .testimonials-swiper-wrapper .swiper-slide {
    height: 390px;
  }
  .testimonials__item {
    max-width: 350px;
    height: 360px;
    padding: 41px 60px 60px 99px;
  }
  .testimonials__item-right-part-body-title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .testimonials__item-left-part {
    top: 100px;
  }
  .testimonials__item-text-position {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .testimonials__pagination {
    bottom: 72%;
    right: 45%;
  }
}
@media (max-width: 1000px) {
  .testimonials-swiper-wrapper .swiper-slide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 40px;
    height: 570px;
  }
  .testimonials__pagination {
    bottom: 82%;
    right: 45%;
  }
  .testimonials__item {
    max-width: 100%;
    height: auto;
    padding: 41px 60px 40px 99px;
  }
  .testimonials__item-left-part {
    top: 60px;
  }
  .testimonials__pagination {
    bottom: 78%;
    right: 45%;
  }
}
@media (max-width: 850px) {
  .page__testimonials {
    padding-top: 50px;
    padding-bottom: 70px;
  }
  .testimonials__above-title {
    font-size: 16px;
  }
  .testimonials__title {
    font-size: 40px;
  }
  .quotation-marks {
    font-size: 70px;
  }
}
@media (max-width: 750px) {
  .testimonials__item {
    max-width: 350px;
    height: 290px;
    padding: 41px 20px 60px 80px;
  }
  .testimonials-swiper-wrapper .swiper-slide {
    height: 750px;
  }
  .quotation-marks {
    font-size: 60px;
  }
  .testimonials__body-title {
    padding-bottom: 50px;
  }
  .testimonials__pagination {
    bottom: 83%;
    right: 45%;
  }
  .testimonials__item-left-part {
    top: 80px;
    left: -75px;
  }
}
@media (max-width: 550px) {
  .testimonials__item-left-part {
    top: 80px;
    left: -40px;
  }
  .testimonials__item-left-part img {
    width: 100px;
    height: 100px;
  }
  .testimonials__pagination {
    bottom: 83%;
    right: 42%;
  }
}
@media (max-width: 490px) {
  .page__testimonials {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .testimonials__above-title {
    font-size: 14px;
  }
  .testimonials__title {
    font-size: 30px;
  }
  .testimonials__body-title {
    padding-bottom: 30px;
  }
  .testimonials__item-title {
    font-size: 20px;
  }
  .testimonials__item-left-part {
    top: -35px;
    left: 57%;
  }
  .testimonials__item-text-position,
.testimonials__item-text {
    font-size: 14px;
  }
  .testimonials__item {
    max-width: 350px;
    height: 190px;
    padding: 20px 10px 40px 20px;
  }
  .quotation-marks {
    font-size: 50px;
  }
  .testimonials__item-left-part img {
    width: 70px;
    height: 70px;
  }
  .testimonials-swiper-wrapper .swiper-slide {
    row-gap: 60px;
    height: 570px;
  }
  .testimonials__pagination {
    right: 44%;
  }
  .testimonials-swiper-button-prev,
.testimonials-swiper-button-next {
    padding: 12px;
    width: 4px;
    height: 11px !important;
  }
}
.page__blog {
  padding-top: 93px;
  padding-bottom: 122px;
  position: relative;
}

.blog {
  background-color: var(--section-bg);
}

.blog__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blog__body-title {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 48px;
  line-height: 58%;
  padding-bottom: 83px;
  color: var(--title-total-black);
  text-align: center;
}

.blog__above-title {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  padding-bottom: 21px;
  text-align: center;
  color: var(--primary-color);
}

.blog__main-block-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 190px;
     -moz-column-gap: 190px;
          column-gap: 190px;
}

.blog__main-block-item-images {
  position: relative;
}

.blog__main-block-item-image-main {
  position: absolute;
  left: -32px;
  top: -32px;
  z-index: 0;
}

.blog__main-block-item-title {
  padding-top: 42px;
  padding-bottom: 17px;
  font-weight: 600;
  font-size: 30px;
  line-height: 93%;
  color: var(--secondary-color);
}

.blog__main-block-item-text {
  padding-bottom: 45px;
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  width: 608px;
}

.blog__main-block-item-button {
  font-weight: 600;
  font-size: 18px;
  line-height: 156%;
  color: var(--background-color);
  border-radius: 25px 0px;
  background-color: var(--green-button-bg);
  padding: 13.5px 35px;
  max-width: 271px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.blog__main-block-item-button:hover {
  background-color: var(--green-button-bg-hover);
}

.blog-dots {
  position: absolute;
  bottom: -75px;
  right: 0;
}

@media (max-width: 1500px) {
  .blog__main-block-items {
    -webkit-column-gap: 46px;
       -moz-column-gap: 46px;
            column-gap: 46px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 0 0 10px;
  }
}
@media (max-width: 1300px) {
  .blog__main-block-items {
    row-gap: 80px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 0 0 10px;
  }
  .blog__main-block-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .blog__main-block-item-image-main {
    left: -32px;
  }
}
@media (max-width: 850px) {
  .page__blog {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .blog__body-title {
    font-size: 40px;
    padding-bottom: 70px;
  }
  .blog__above-title {
    font-size: 16px;
  }
  .blog__main-block-item-text {
    padding-bottom: 30px;
  }
  .blog__main-block-item-button {
    font-size: 14px;
  }
  .blog__main-block-item-text {
    width: 90%;
  }
}
@media (max-width: 490px) {
  .page__blog {
    padding-top: 50px;
    padding-bottom: 70px;
  }
  .blog__body-title {
    font-size: 30px;
    padding-bottom: 70px;
  }
  .blog__above-title {
    font-size: 14px;
  }
  .blog__main-block-item-text {
    padding-bottom: 30px;
  }
  .blog__main-block-item-button {
    font-size: 12px;
  }
  .blog__main-block-item-text {
    width: 90%;
  }
  .blog__main-block-item-image-main {
    left: -15px;
    top: -15px;
  }
  .blog__main-block-item-title {
    font-size: 25px;
    text-align: center;
  }
  .blog__main-block-item-text {
    font-size: 16px;
  }
  .blog__main-block-items {
    row-gap: 50px;
  }
  .blog-dots {
    bottom: -35px;
  }
}
.page__sign-up {
  position: relative;
  padding-top: 202px;
  padding-bottom: 192px;
}

.sign-up__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sign-up__body-title {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0.08em;
  color: var(--secondary-color);
  padding-bottom: 32px;
  border-bottom: 1px solid #c4c4c4;
  max-width: 710px;
  text-align: center;
}

.sign-up__body-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  text-align: center;
  color: #646464;
  padding-top: 40px;
  padding-bottom: 29px;
  max-width: 646px;
}

.sign-up__body-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.sign-up__body-form-input {
  font-family: "Raleway";
  font-weight: 500;
  font-size: 18px;
  line-height: 166%;
  color: #646464;
  padding: 10px 550px 10px 26px;
  background: #eeeeee;
  border-radius: 20px 0px;
  max-width: 772px;
  outline: none;
}

.sign-up__body-form-button {
  position: absolute;
  right: 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 111%;
  text-align: center;
  padding: 14px 54px 16px 54px;
  background: #37806b;
  border-radius: 0px 0px 20px 0px;
  color: var(--background-color);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.sign-up__body-form-button:hover {
  background-color: var(--green-button-bg-hover);
}

.sign-up-dots {
  position: absolute;
  bottom: -75px;
  left: 0;
}

@media (max-width: 900px) {
  .sign-up__body-form-input {
    padding: 10px 350px 10px 26px;
  }
}
@media (max-width: 850px) {
  .page__sign-up {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .sign-up__body-title {
    font-size: 40px;
  }
  .sign-up__body-text {
    font-size: 16px;
  }
  .sign-up__body-form-button {
    font-size: 14px;
  }
}
@media (max-width: 635px) {
  .sign-up__body-form-input {
    padding: 10px 150px 10px 10px;
    font-size: 15px;
  }
  .sign-up__body-form-button {
    font-size: 12px;
    padding: 14px 24px 16px 24px;
  }
  .sign-up-dots {
    bottom: -35px;
  }
  .sign-up__body-title {
    font-size: 30px;
  }
}
.footer {
  padding-top: 93px;
  background-color: var(--section-bg);
}

.footer__body {
  padding-bottom: 69px;
}

.footer__body-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__body-item-text {
  padding-top: 15px;
  max-width: 350px;
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
}

.footer__body-item-menu-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 167%;
  color: var(--secondary-color);
  padding-bottom: 35px;
}

.footer__body-item-menu-item {
  padding-bottom: 23px;
}

.footer__body-item-menu-link {
  font-weight: 600;
  font-size: 18px;
  line-height: 167%;
  color: var(--primary-color);
  padding-bottom: 0;
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.footer__body-item-menu-link:hover {
  opacity: 0.9;
}

.footer__body-item-menu-item:last-child {
  padding-bottom: 0;
}

.footer__socs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
}

.footer__socs a {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer__socs a:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.footer__copy {
  border-top: 1px solid #c4c4c4;
  padding: 15px 0 22px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__copy-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}

@media (max-width: 1300px) {
  .footer__body-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
    row-gap: 50px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (max-width: 850px) {
  .footer__body-item-menu-title {
    font-size: 20px;
    padding-bottom: 20px;
  }
  .footer__body-item-menu-link {
    font-size: 15px;
  }
  .footer__body-item-menu-item {
    padding-bottom: 15px;
  }
  .footer__body-item-text {
    font-size: 16px;
  }
  .footer__copy-text {
    font-size: 16px;
  }
}
@media (max-width: 396px) {
  .footer__body-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
    row-gap: 50px;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}